.transactionData {
    flex-direction: column;
    border-radius: 2em;
    transition: .5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}
.transactionData > span {
    margin-bottom: 2em;
}
.transactionData > span:last-child {
    margin-bottom: 0;
}
.transactionData:hover {
    background-color: #ebefff;
}
@media (min-width: 768px) {
    .transactionData {
        flex-direction: row;
    }
    .transactionData > span {
        margin-bottom: 0;
    }
}