.modal-card, .modal-content {
    width: 100%;
    overflow: hidden;
}

@media (min-width: 768px) {
    .modal-card, .modal-content {
        width: 100%;
        max-width: 950px;
        margin: 0 50px 0 50px;
    }
}
